.verify-email {
  background:url('../../../../assets/img/bg.webp');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  background-color: rgba(105, 97, 97, 0.459);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.verify-email-container {
  background: linear-gradient(135deg, #ffffff 0%, #9398a5 100%) ;
  margin-top: 5rem;
  max-width: 600px;
  width: 100%;
  padding: 4rem 2.5rem;

  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: var(--text-color);
}

h2 {
  font-size: 2rem;

  margin-bottom: 1rem;
  font-weight: 600;
}

.verification-message {
  font-size: 1.125rem;

  margin: 1.5rem 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.footer {
  margin-top: 30px;
  font-size: 0.875rem;

}

.footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.footer a:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
