<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-2 d-md-block bg-light sidebar">
      <div class="position-sticky">
        <div class="sidebar-header text-center py-3">
          <img
            src="https://via.placeholder.com/100"
            alt="Profile Picture"
            class="rounded-circle mb-3"
            style="width: 100px; height: 100px; object-fit: cover"
          />

          <p class="mb-1">Hello, <strong>Admin</strong></p>
          <button class="btn btn-danger">
            <a
              [routerLink]="'/admin-login'"
              class="text-light text-decoration-none"
              >Logout</a
            >
          </button>
        </div>
        <ul class="nav flex-column mt-4">
          <!-- Users Link -->
          <li
            class="nav-item d-flex align-content-center align-items-center mb-2"
          >
            <fa-icon [icon]="faUser" class="me-2"></fa-icon>
            <a
              class="nav-link"
              routerLink="/admin/users-dashboard"
              routerLinkActive="active-link"
            >
              Users
            </a>
          </li>

          <!-- Menu Link -->
          <li
            class="nav-item d-flex align-content-center align-items-center mb-2"
          >
            <fa-icon [icon]="faBowlFood" class="me-2"></fa-icon>
            <a
              class="nav-link"
              routerLink="/admin/menu-dashboard"
              routerLinkActive="active-link"
            >
              Menu
            </a>
          </li>

          <!-- Requests Link -->
          <li class="nav-item d-flex align-content-center align-items-center">
            <fa-icon [icon]="faCodePullRequest" class="me-2"></fa-icon>
            <a
              class="nav-link"
              routerLink="/admin/requests-dashboard"
              routerLinkActive="active-link"
            >
              Requests
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="row d-flex">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
