<div class="wrapper">
  <aside id="sidebar" [ngClass]="{ 'expand': isExpanded }">
    <div class="d-flex">
      <button class="toggle-btn" type="button" (click)="toggleSidebar()">
        <fa-icon class="text-white fs-3" [icon]="faGripVertical"></fa-icon>
      </button>
      <div class="sidebar-logo">
        <a [routerLink]="'/admin'">BistroBliss</a>
      </div>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a class="sidebar-link">
          <a class="nav-link" [routerLink]="'/admin'" routerLinkActive="active-link"> <fa-icon [icon]="faMagnifyingGlassChart" class="me-3"></fa-icon></a>
          <span>  <a class="nav-link" [routerLink]="'/admin'" routerLinkActive="active-link"> Dashboard</a></span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link">
          <a class="nav-link" [routerLink]="'/admin/users-dashboard'" routerLinkActive="active-link">  <fa-icon [icon]="faUser" class="me-3"></fa-icon></a>
          <span>   <a class="nav-link" [routerLink]="'/admin/users-dashboard'" routerLinkActive="active-link"> Users</a></span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" >
          <a class="nav-link" [routerLink]="'/admin/menu-dashboard'" routerLinkActive="active-link"> <fa-icon [icon]="faBowlFood" class="me-3"></fa-icon></a>
          <span><a class="nav-link" [routerLink]="'/admin/menu-dashboard'" routerLinkActive="active-link">Menu</a></span>
        </a>

      </li>
      <li class="sidebar-item">
        <a class="sidebar-link  " >
          <a class="nav-link"   [routerLink]="'/admin/requests-dashboard'" routerLinkActive="active-link"> <fa-icon [icon]="faCodePullRequest" class="me-3"></fa-icon></a>
          <span><a class="nav-link"   [routerLink]="'/admin/requests-dashboard'" routerLinkActive="active-link">Booking</a></span>
        </a>

      </li>
  </ul>

    <div class="sidebar-footer" >
      <a class="sidebar-link" href="#" (click)="logout($event)">
       <fa-icon [icon]="faRightFromBracket" class="me-3"></fa-icon>
       <span>Logout</span>
      </a>
    </div>
  </aside>
  <div class="main p-3">
    <div class="navbar-custom d-flex justify-content-between align-items-center p-3 mb-3">
      <div class="navbar-left">
        <h1 class="h2">Dashboard</h1>
      </div>

      <div class="navbar-right d-flex align-items-center">
        <span class="admin-name me-3">{{ user?.username | slice:0:12 }}</span>
        <div class="profile-image-wrapper ">
          <img
          [src]="user?.image || 'assets/img/user-avatar.png'"
          alt="Profile Picture"
          class="rounded-circle mb-3 align-content-lg-center"
          style="width: 100%; height: 100%; object-fit: cover "
        />
        </div>
      </div>
    </div>
    <div class="row d-flex border-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

