.auth-container {
  background-image: url('../../../assets/img/hero_2.webp');
  background-size: cover;
  background-position: center;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth--layout {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem 40px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  opacity: 0;
  animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-pills .nav-link {
  border-radius: 0;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-pills .nav-link.active {
  background-color: var(--primary-color);
  color: white;
}

.nav-pills .nav-link:not(.active) {
  color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.199);
}

.nav-pills .nav-link:hover {
  background-color: var(--black-color);
  color: white;
}

.content--container {
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 30px;
   /* border-radius: 10px; */
 /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}


@media (max-width: 992px) {
  .auth-container {
    height: 200vh;
    width: 100%;
    .auth--layout {
      width: 90%;
      padding: 2rem 0;
      .nav-pills{
        order: 2;
        flex-direction: column;
        gap: 1rem;
      }
      .content--container{
        width: 100%;
        padding: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .auth-container {
    height: 200vh;
    width: 100%;
    .auth--layout {
      width: 90%;
      padding: 2rem 0;
      .nav-pills{
        order: 2;
        flex-direction: column;
        gap: 1rem;
      }
      .content--container{
        width: 100%;
        padding: 0;
      }
    }
  }

}

@media (max-width: 576px) {
  .auth-container {
    height: 200vh;
    width: 100%;
    .auth--layout {
      width: 90%;
      padding: 2rem 0;
      .nav-pills{
        order: 2;
        flex-direction: column;
        gap: 1rem;
      }
      .content--container{
        width: 100%;
        padding: 0;
      }
    }
  }
}
