<section class="position-relative overflow-hidden p-2 contact--container">
<div class="">
  <div class="waves--bg ">
      <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
  <div class="wave wave4"></div>
  </div>
</div>


 <div class="contact--form container ">
  <div class="row justify-content-center pb-2">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card p-4 shadow-lg">
        <div class="text---container">
          <h1 class="text-center mb-4">Contact Us</h1>
          <p>We consider all the drivers of change gives you the components you need to change to create a truly happens.</p>
        </div>

        <form >
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
            <label for="floatingName">Name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
            <label for="floatingEmail">Email address</label>
          </div>


          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingSubject" placeholder="Subject">
            <label for="floatingSubject">Subject</label>
          </div>
>
          <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingMessage" placeholder="Your message" style="height: 150px;"></textarea>
            <label for="floatingMessage">Message</label>
          </div>


          <div class="d-grid">
            <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="container contact--details pb-2 d-flex align-items-lg-center justify-content-between">
    <div class="contact--call">
      <h4>Call Us:</h4>
      <ul>
        <li>+1-234-567-8900</li>
      </ul>


    </div>
    <div class="contact--call">
      <h4>Hours:</h4>
      <ul>
        <li>Mon-Fri: 11am - 8pm Sat</li>
        <li> Sun: 9am - 10pm</li>
      </ul>


    </div>
    <div class="contact--call">
      <h4>Our Location:</h4>
      <p>123 Bridge Street             Nowhere Land, LA 12345 United States</p>

    </div>

  </div>
</div>


</section>
