.waves--bg{
  position: relative;
  width: 100%;
  height: 120vh;
  background: url('../../../assets/img/hero_banner_book.webp');
  overflow: hidden;
   .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px ;
    background: url('../../../assets/img/wave.png');
   }
}
.waves--bg .wave.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.waves--bg .wave.wave2{
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 1;
  animation-delay: -5s;
  bottom: 10px;
}
.waves--bg .wave.wave3{
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: .2;
  animation-delay: -2s;
  bottom: 15px;
}
.waves--bg .wave.wave4{
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: .7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate {

  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;

  }

}
@keyframes animate2 {

  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;

  }

}
input{
border-radius: 20px;
}

.contact--form {
  /* background-color: aqua; */
  padding: 3rem 0 5rem 0;
  /* z-index: 1000000; */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.contact--container{
  color: var(--white-color);
  padding: 7rem 0;
}
.card {
  background-color: transparent !important;
  border-radius: 20px;
  color: var(--white-color);
  box-shadow: 2px 8px 8px rgba(97, 95, 95, 0.356);
  .text---container{
    h1{
      font-size: 3rem;
      font-family: "Playfair Display", serif;
    }
  }
  form{
    color: var(--text-color);

  }


}
.text---container{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column                                                                                                              ;
}

.contact--details{
  border-radius: 20px;

  box-shadow: 2px 8px 8px rgba(97, 95, 95, 0.356);
  .contact--call{

  }
}
.btn{
  border-radius: 20px ;
  background-color: var(--primary-color);
  border: 0;
  font-size: 20px;
  padding: .75rem 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover{
    background-color: transparent !important;
    color: var(--white-color);
    border: 1px solid var(--white-color);
  }
}
.required-indicator{
  color: red;
}
