<div class="container">
  <div class="col-md-12 text-center py-3">
    <img
      src="assets/img/japanese-food.svg"
      alt="Bistro Bliss Logo"
      style="max-width: 200px; height: 200px"
      class="mb-4"
    />
    <h1 class="display-4">Welcome to the Bistro Bliss Admin Dashboard</h1>
    <p class="lead">
      Manage restaurant operations, update menu items, handle booking requests, and more from here.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="box text-center p-4 mb-4">
        <div class="card shadow-sm border-light rounded">
          <div class="card-body">
            <fa-icon [icon]="faUser" class="fas fa-user dashboard-icon mb-2"></fa-icon>
            <h3 class="card-title">No. of Users</h3>
            <p class="card-text display-4">{{ userCount }}</p>
            <a routerLink="/admin/users-dashboard" class="btn btn-primary">Go to Users</a>
          </div>
        </div>
      </div>

      <div class="box text-center p-4 mb-4">
        <div class="card shadow-sm border-light rounded">
          <div class="card-body">
            <fa-icon [icon]="faCodePullRequest" class="fas fa-calendar-check dashboard-icon mb-2"></fa-icon>
            <h3 class="card-title">No. of Bookings</h3>
            <p class="card-text display-4">{{ bookingCount }}</p>
            <a routerLink="/admin/requests-dashboard" class="btn btn-primary">Go to Bookings</a>
          </div>
        </div>
      </div>

      <div class="box text-center p-4 mb-4">
        <div class="card shadow-sm border-light rounded">
          <div class="card-body">
            <fa-icon [icon]="faBowlFood" class="fas fa-star dashboard-icon mb-2"></fa-icon>
            <h3 class="card-title">No. of Reviews</h3>
            <p class="card-text display-4">{{ reviewCount }}</p>
            <a routerLink="/admin/reviews-dashboard" class="btn btn-primary">Go to Reviews</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="chart-container d-flex justify-content-center">
        <canvas id="myChart" style="width: 100%; height: auto;"></canvas>
      </div>
    </div>
  </div>
</div>
