<section class="reset--container">

<div class="tab-content">
  <div class="tab-pane fade show active w-100" id="pills-reset" role="tabpanel" aria-labelledby="tab-reset">
    <form class="login-form" [formGroup]="resetForm" (ngSubmit)="requestResetLink()">
      <div class="text-center mb-4">
        <h2 class="mb-3"><img class="mb-4" src="assets/img/japanese-food.svg" alt=""> Reset Your Password</h2>
        <p class="fs-6">Please enter your email to receive the reset link.</p>
      </div>

      <!-- Success Message -->
      <div *ngIf="successMessage" class="alert alert-success text-center">
        {{ successMessage }}
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-danger text-center">
        {{ errorMessage }}
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="emailForget">Email</label>
        <input type="email" id="emailForget" class="form-control" placeholder="Enter Your Email" formControlName="email" required />
        <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched" class="form-text text-danger fs-6">
          <div *ngIf="resetForm.get('email')?.hasError('required')">Email is required.</div>
          <div *ngIf="resetForm.get('email')?.hasError('email')">Please enter a valid email address.</div>
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="registerPassword">Password<span class="required-indicator">*</span></label>
        <input type="password" id="registerPassword" class="form-control" formControlName="password" placeholder="Password" required />
        <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.invalid" class="form-text text-danger fs-6">
          <div *ngIf="resetForm.get('password')?.hasError('required')">Password is required.</div>
          <div *ngIf="resetForm.get('password')?.hasError('strongPassword')">Password must be at least 8 characters long, with at least one uppercase letter, one special character, and one number.</div>
        </div>
      </div>

      <!-- Confirm Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="confirmPassword">Confirm Password<span class="required-indicator">*</span></label>
        <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Retype Password" required />
        <div *ngIf="resetForm.hasError('passwordMismatch') && resetForm.get('confirmPassword')?.touched" class="form-text text-danger fs-6">
          Passwords do not match.
        </div>
      </div>

      <button type="submit" class="btn w-100 submit--btn btn-primary btn-block mb-4" [disabled]="resetForm.invalid">
         Reset Password
      </button>
    </form>
  </div>
</div>
</section>

