<div class="tab-content">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form #forgetForm="ngForm" >
      <!-- (ngSubmit)="requestResetLink(forgetForm)" -->
      <div class="text-center mb-4">
        <h2 class="mb-3">For Reset Your Password!</h2>
        <p class="fs-6">Please Enter Your Email For sending reset email link </p>
      </div>

      <!-- Success Message -->
      <div *ngIf="successMessage" class="alert alert-success success--message text-center" [ngClass]="{'show': errorVisible}">
        {{ successMessage }}
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-danger error--message text-center" [ngClass]="{'show': errorVisible}">
        {{ errorMessage }}
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4 mt-2">
        <label class="form-label" for="emailForget"> Email </label>
        <input
          type="email"
          id="emailForget"
          class="form-control"
          placeholder="Enter Your Email"
          required
          ngModel
          #username="ngModel"
          minlength="4"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          name="email"
        />
        <div *ngIf="username.invalid && username.touched" class="form-text text-danger fs-6">
          <div *ngIf="username.hasError('required')">Email is a required field.</div>
          <div *ngIf="username.hasError('minlength')">Email should contain at least 4 characters.</div>
          <div *ngIf="username.hasError('pattern')">Please enter a valid email address.</div>
        </div>
      </div>

      <div class="submit--btn">
        <button type="submit" class="btn w-100 submit--btn btn-primary btn-block mb-4" [disabled]="forgetForm.invalid">
        <a (click)="SuccessfulMailNotification()"></a>  Send Reset Link
        </button>
      </div>
    </form>
  </div>
</div>
