.tab-content {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.7s ease-in-out;
}

.tab-content:hover {
  transform: translateY(-10px);
}

h2 {
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--secondary-color);
}

.social-buttons button {
  transition: transform 0.2s;
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  width: 100%;
padding: .25rem  3rem;

  .google--link{
    display: flex;
gap: 1.5rem;
align-items: center;
justify-content: center;
    text-decoration: none;
    text-transform: capitalize;

  }
}

.social-buttons button:hover {
  transform: scale(1.1);
  color: var(--primary-color);
}

.form-outline {
  position: relative;
  margin-bottom: 1.5rem;
}



.form-outline .form-label {
  position: absolute;
  top: -10px;
  left: 12px;
  transition: 0.2s;
  color: var(--secondary-color);
  font-size: 0.9rem;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  padding: 12px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.text-center a {
  color: var(--primary-color);
  text-decoration: underline;
  transition: color 0.2s;
}

.text-center a:hover {
  color: var(--secondary-color);
}
.or-separator {
  position: relative;
  text-align: center;
  margin: 2rem 0;
  color: var(--primary-color);
}

.or-separator::before,
.or-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--primary-color);
  position: absolute;
  top: 50%;
  width: 47%;
}

.or-separator::before {
  left: 0;
}

.or-separator::after {
  right: 0;
}

.form-control{
  padding: 1rem  1rem ;
}
.form-outline .form-control {
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.form-outline .form-control:focus {
  border-bottom: 3px solid var(--primary-color);
  outline: none;
}
.submit--btn {
  width: 100% !important;
  a{
    border-radius: 20px;
  }
}
.error--message {
  margin: 2rem 0;
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.1);
  border-left: 4px solid var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-10px);
}


.error--message.show {
  opacity: 1;
  display: block;
  transform: translateY(0);
}

.success--message{
  margin: 2rem 0;
  padding: 1rem;
  background-color: rgba(62, 112, 62, 0.356);
  border-left: 4px solid green;
  color: var(--white-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-10px);

}
.success--message.show {
  opacity: 1;
  display: block;
  transform: translateY(0);
}
