<main>
  <section class="provide">
    <div class="container">
      <div class="row">
        <div class="image col"></div>
        <div class="text col">
          <h1 class="text-uppercase">We provide healthy food for your family.</h1>
          <p class="text-1">Our story began with a vision to create a unique dining experience that merges fine dining, exceptional service, and a vibrant ambiance. Rooted in city's rich culinary culture, we aim to honor our local roots while infusing a global palate</p>
          <p class="text-2">At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
        </div>
      </div>

      <div class="visitUs">
        <h3>Come and visit us</h3>

        <p class="tele">  <i class='bx bx-phone'></i> (414) 857 - 0107</p>
        <p class="email"><i class='bx bx-envelope'></i>happytummy.restaurant.com</p>
        <div class="location"><i class='bx bx-location-plus' ></i>837 W. Marshall Lane Marshalltown, IA 50158, Los Angeles</div>
      </div>

    </div>
  </section>

  <section class="features">
      <div class="video">
          <div class="overlay"></div>
          <video id="myVideo" src="../../../assets/videos/istockphoto-1352878646-640_adpp_is.mp4" autoplay muted loop ></video>
          <button id="playPauseBtn" class="play-pause-btn" (click)="toggleVideo()">
            <i *ngIf="isPaused; else playIcon" class='bx bx-pause bx-flip-vertical'></i>
            <ng-template #playIcon>
              <i class='bx bx-play bx-flip-vertical' ></i>
            </ng-template>
          </button>
          <h3 class="video-text">Feel the authentic & original taste from us</h3>
      </div>

      <div class="icons">
        <div class="row">
          <div class="icon icon-1 col">
            <img src="../../../assets/img/restaurant-menu 1.png" alt="">
            <div class="text">
              <p class="big">Multi Cuisine</p>
              <p class="small">In the new era of technology we look in the future with certainty life.</p>
            </div>

          </div>
          <div class="icon icon-2 col">
            <img src="../../../assets/img/Icon.png" alt="">
            <div class="text">
              <p class="big">Easy To Order</p>
              <p class="small">In the new era of technology we look in the future with certainty life.</p>
            </div>
          </div>

          <div class="icon icon-3 col">
            <img src="../../../assets/img/timer 1.png" alt="">
            <div class="text">
              <p class="big">Fast Delivery</p>
              <p class="small">In the new era of technology we look in the future with certainty life.</p>
            </div>
          </div>
        </div>
      </div>
  </section>



  <section class="information">
    <div class="container">
      <div class="row">

        <div class="col info">

          <div class="text">
            <h1 class="text-uppercase">A little information for our valuable guest</h1>
            <p>At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
          </div>

            <div class="cards">
            <div class="card-1">
              <h1>3</h1>
              <p>locations</p>
            </div>
            <div class="card-2">
              <h1>1995</h1>
              <p>founded</p>
            </div>
            <div class="card-3">
              <h1>65+</h1>
              <p>Staff Members</p>
            </div>
            <div class="card-4">
              <h1>100%</h1>
              <p>Satisfied Customers</p>
            </div>
          </div>
        </div>
        <div class="col image"></div>
      </div>
    </div>
  </section>



  <section class="opinions">
    <div class="container">
      <h1>What Our Customers Say</h1>
      <div class="row">
        <div class="cards">

          <div class="row">
            <div class=" col-4 card">
              <h3>“The best restaurant”</h3>
              <p>Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.</p>
              <span></span>
              <div class="author">
                <img src="../../../assets/img/cust-1.jpeg" alt="">
                <div class="text">
                  <p class="name">Sophire Robson</p>
                  <p class="location">Los Angeles, CA</p>
                </div>
              </div>
            </div>

            <div class="col-4 card">
              <h3>“Simply delicious”</h3>
              <p>Place exceeded my expectations on all fronts. The ambiance was cozy and relaxed, making it a perfect venue for our anniversary dinner. Each dish was prepared and beautifully presented.</p>
              <span></span>
              <div class="author">
                <img src="../../../assets/img/cust-2.jpeg" alt="">
                <div class="text">
                  <p class="name">Matt Cannon</p>
                  <p class="location">San Diego, CA</p>
                </div>
              </div>
            </div>

            <div class=" col-4 card">
              <h3>“One of a kind restaurant”</h3>
              <p>The culinary experience at place is first to none. The atmosphere is vibrant, the food - nothing short of extraordinary. The food was the highlight of our evening. Highly recommended.</p>
              <span></span>
              <div class="author">
                <img src="../../../assets/img/cust-3.jpeg" alt="">
                <div class="text">
                  <p class="name">Andy Smith</p>
                  <p class="location">San Francisco, CA</p>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </section>



</main>
