.tab-content {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.7s ease-in-out;
}

.tab-content:hover {
  transform: translateY(-10px);
}

h2 {
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;
}


.social-buttons button {
  transition: transform 0.2s;
  color: var(--secondary-color);
}

.social-buttons button:hover {
  transform: scale(1.1);
  color: var(--primary-color);
}

.form-outline {
  position: relative;
  margin-bottom: 1.5rem;
}



.form-outline .form-label {
  position: absolute;
  top: -10px;
  left: 12px;
  transition: 0.2s;
  color: var(--secondary-color);
  font-size: 0.9rem;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  padding: 12px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.text-center a {
  color: var(--primary-color);
  text-decoration: underline;
  transition: color 0.2s;
}

.text-center a:hover {
  color: var(--secondary-color);
}
.or-separator {
  position: relative;
  text-align: center;
  margin: 2rem 0;
  color: var(--primary-color);
}

.or-separator::before,
.or-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--primary-color);
  position: absolute;
  top: 50%;
  width: 47%;
}

.or-separator::before {
  left: 0;
}

.or-separator::after {
  right: 0;
}

.form-control{
  padding: 1rem  1rem ;
}
.form-outline .form-control {
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.form-outline .form-control:focus {
  border-bottom: 3px solid var(--primary-color);
  outline: none;
}

.submit--btn {
  width: 100% !important;
  a{
    border-radius: 20px;
  }
}

.required-indicator{
  color: var(--primary-color);
  padding-left: 4px ;
  font-size: 15px;
}
.error--message {
  margin: 2rem 0;
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.1);
  border-left: 4px solid var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-10px);
}


.error--message.show {
  opacity: 1;
  display: block;
  transform: translateY(0);
}


/* Media Query */
@media (max-width: 992px) {
  .tab-content {
    padding: 2rem 3rem;
    width: 100%;
    padding: 1rem 14px;
  }
  .form-outline .form-label {
    font-size: 0.8rem;
  }

  .form-control {
    padding: 0.8rem;
  }

  .btn-primary {
    padding: 10px;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .tab-content {
    padding: 2rem 3rem;
    width: 100%;
    padding: 1rem 14px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .btn-primary {
    font-size: 0.85rem;
    padding: 8px;
  }

  .social-buttons button {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {

  .tab-content {
    padding: 2rem 3rem;
    width: 100%;
    padding: 1rem 14px;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .btn-primary {
    font-size: 0.8rem;
    padding: 6px;
  }

  .social-buttons button {
    font-size: 0.7rem;
  }
}
