<!-- Beginning of Footer -->
<footer class="d-flex">
  <div class="">
    <div
      class="logo d-flex align-content-center justify-content-start gap-2 fst-italic"
    >
      <img src="assets/img/japanese-food.png" alt="Bistro Bliss Restaurant" />
      <h2 class="heading pt-3 fw-bold">Bistro Bliss</h2>
    </div>
    <p class="fs-6">
      In the new era of technology we look at the future with certainty and
      pride for our company.
    </p>
    <div class="socials d-flex">
      <p>
        <fa-icon [icon]="faFacebook"> </fa-icon>
      </p>
      <p><fa-icon [icon]="faInstagram"> </fa-icon></p>
      <p><fa-icon [icon]="faWhatsapp"> </fa-icon></p>
    </div>
  </div>

  <ul>
    <li class="heading">Pages</li>
    <li><a href="./">Home</a></li>
    <li><a href="./pages/about.html">About</a></li>
    <li><a href="./pages/menu.html">Menu</a></li>
    <li><a href="./pages/menu.html">Pricing</a></li>
    <li><a href="./pages/contact.html">Contact</a></li>
  </ul>

  <ul class="menu--list">
    <li class="heading">Utility Pages</li>
    <li>Start Here</li>
    <li>Styleguide</li>
    <li>Password Protected</li>
    <li>404 Not Found</li>
  </ul>

  <div>
    <p class="heading">Follow Us On Instagram</p>
    <div class="grid w-100">
      <img src="assets/img/pexels-steve.png" alt="hot noodles" />
      <img src="assets/img/eiliv-aceron.png" alt="fries" />
      <img src="assets/img/pexels-ella-olsson.png" alt="fried potatoes" />
      <img src="assets/img/pexels-ash.png" alt="pancakes with syrup" />
    </div>
  </div>
</footer>
<p class="copyright m-0">
  Copyright © 2023 Michelle Ndiangui. All Rights Reserved.
  <a
    href="https://www.figma.com/design/G6gyvMHE8i3uc2kCLHZ0B5/Food---Website-Design-(Community)-(Community)?m=auto&is-community-duplicate=1&fuid="
    >Figma Design</a
  >
</p>
<!-- End of Footer -->
