.scroll-up-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scroll-up-btn.show {
  display: block;
}

.scroll-up-btn:hover {
  background-color: var(--secondary-color);
  transform: translateY(-5px);
}

.arrow-icon {
  transition: transform 0.3s ease-in-out;
}

.scroll-up-btn:hover .arrow-icon {
  transform: translateY(-5px);
}
