<div class="container-fluid">
  <div class="row">
    <!-- Users Table -->
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title  fw-bold fst-italic text-start">Menu List</h3>
          <a (click)="openDialog()"><i class='bx bxs-add-to-queue specialIcon'></i></a>



          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  @for (item of menuTiles; track $index) {
                    <th scope="col">{{item}}</th>
                  }
                </tr>
              </thead>
              <tbody >
                @for (item of menuItems; track $index) {
                  <tr>
                    <th scope="row">{{item.id}}</th>
                    <td><img [src]="item.image"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.category_name}}</td>
                    <td>{{item.price}}</td>
                    <td>
                      <a (click)="openDialog(item)" class="btn btn-primary btn-sm me-2">Edit</a>
                      <a (click)="deleteMenu(item.id)" class="btn btn-outline-danger btn-sm me-2">Delete</a>
                    </td>
                  </tr>
                }

              </tbody>
            </table>

          <p-paginator
          (onPageChange)="onPageChange($event)"
          [rows]="rows"
          [totalRecords]="totalRecords"
          [pageLinkSize]="4"
        ></p-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
