.hero--Section {
  width: 100%;
  margin: 0;
  overflow: hidden;
  height: 100vh;

  .hero--container {
    height: 100%;
    background-image: url(".././../../../src//assets//img/heroSection.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .hero--content {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-55%, -50%);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      .hero--text {
        width: 30%;
        h1 {
          padding-top: 1rem;
          text-transform: uppercase;
          width: 100%;
          font-family: "Playfair Display", serif !important;
          font-size: 4rem;
          font-weight: 600;
        }
      }
      .hero--paragraph {
        width: 30%;
        p {
          font-size: 20px;
        }
      }
      .hero--btns {

        .button {
          font-weight: 500;
          display: inline-block;
          padding: .75rem 3rem;
          font-size: 16px;
          color: #fff;
          background-color: var(--primary-color);
          text-align: center;
          text-decoration: none;
          border-radius: 20px;
          border: none;
        }

        .button--primary {
          background-color: var(--primary-color);
          transition: 0.3s all ease;
        }

        .button--primary:hover {
          background-color: var(--text-color);
          color: var(--white-color);
        }

        .button--outline {
          transition: 0.3s all ease;
          background-color: transparent;
          border: 2px solid var(--primary-color);
          color: var(--text-color);
          border: 1px solid var(--black-color);
        }

        .button--outline:hover {
          background-color: var(--text-color);
          color: var(--white-color);
          border: 1px solid var(--black-color);
        }
      }
    }
  }
}


/*   ############### Media Query ################3 */
@media (max-width: 1200px) {
  .hero--content {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero--text h1 {
    font-size: 2.5rem;
  }

  .hero--paragraph p {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .hero--content{
    .hero--text {
  width: 90% !important;
   h1 {
    width: 100% !important;
  font-size: 1rem;
}
}
}

.hero--paragraph
{
  width: 90% !important;

  p {
  width: 100% !important;
  font-size: 16px ;
}
}
}

@media (max-width: 768px) {
  .hero--content{
    .hero--text {
  width: 90% !important;
   h1 {
    width: 100% !important;
  font-size: 1rem;
}
}
}

.hero--paragraph
{
  width: 90% !important;

  p {
  width: 100% !important;
  font-size: 16px ;
}
}
}

@media (max-width: 576px) {
  .hero--content{
      .hero--text {
    width: 90% !important;
     h1 {
      width: 100% !important;
    font-size: 3rem !important;
  }
  }
  }



  .hero--paragraph
  {
    width: 90% !important;

    p {
    width: 100% !important;
    font-size: 16px ;
  }
}
.hero--btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .button {
    width: 70%;
  }
}

}
