<section class="hero--Section">
  <div class="hero--container">
    <div class="hero--content">
      <div class="hero--text">
        <h1>Best Food For Your Taste</h1>
      </div>
      <div class="hero--paragraph">
        <p>
          Discover delectable cuisine and unforgettable moments in our
          welcoming, culinary haven.
        </p>
      </div>
      <div
        class="hero--btns d-flex align-content-center justify-content-center gap-2 "
      >
        <a [routerLink]="'/menu'" class="button button--primary">Go to Menu</a>
        <a [routerLink]="'/bookings'" class="button button--outline"
          >Book A table
        </a>
      </div>
    </div>
  </div>
</section>
