<div class="login-page ">
  <div class="login-box">
    <div class="login-header text-center">
      <img
        src="assets/img/japanese-food.svg"
        alt="Bistro Bliss Logo"
        class="logo mb-4 "
      />
      <h2>Dashboard  Login</h2>
    </div>
    <form>
      <div class="form-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          required
        />
      </div>
      <div class="form-group mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Login
      </button>
    </form>
  </div>
</div>
