
/* Booking Section  */
.bookings-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.booking-card {
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.booking-card:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 15px;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.confirmed {
  background-color: #28a745;
}

.cancelled {
  background-color: #dc3545;
}

.pending {
  background-color: #ffc107;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.booking-card {
  animation: fadeIn 0.3s ease-in-out;
}




/* Profile Section */
.profile {
  background-color: #f4f4f4;
  position: relative;

}

.profile-background {
  background: url('../../../../assets//img/profile_bg.webp') no-repeat center center;
  background-size: cover;
  padding: 7rem 0;
  position: relative;
  background-size: cover;
  background-attachment: fixed
}

.profile-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
}

.profile-container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.profile-header {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.profile-info {
  flex-grow: 1;
}

.profile-info h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.profile-info p {
  color: #777;
  font-weight: 600;
  margin-bottom: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);


}
.btn--custom{
  background-color: var(--primary-color);
border-color: var(--primary-color);
border-radius: 50%;
color: var(--white-color);
}

.btn-secondary{
  border-radius: 0;

}
.bookings-section {
  margin-top: 40px;
}

.booking-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.booking-card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.confirmed .status {
  background-color: #28a745;
}

.cancelled .status {
  background-color: #dc3545;
}

.pending .status {
  background-color: #ffc107;
}
.transition {
  transition: all 0.5s ease-in-out;
}
.required-indicator{
  color: red;
}

.error--message {
  padding:.5rem 1rem ;
  border-left: 4px solid var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-10px);
}


.error--message.show {
  opacity: 1;
  display: block;
  transform: translateY(0);
}
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--secondary-color);
}
.success--message{
  padding:.5rem 1rem ;
  border-left: 4px solid green;
  color: var(--secondary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-10px);
}

.success--message.show{
  opacity: 1;
  display: block;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    margin: 0 auto 20px auto;
  }

  .profile-info {
    text-align: center;
  }
}
