<div class="container-fluid">
  <div class="row">
    <!-- Users Table -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title mb-3  d-flex justify-content-between">
            <h5 class="text-center d-flex align-items-center justify-content-center"> Users Management </h5>
           <div class="d-flex  gap-5 mb-1">
              <div class=" d-flex  justify-content-end gap-2 ">
              <div>
                <!-- Role Filter Dropdown -->
                <label for="roleFilter" class="form-label">Filter by Role</label>
                <select class="form-select" id="roleFilter" [(ngModel)]="selectedRole" (change)="filterUsers()">
                  <option value="">All Roles</option>
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                </select>
              </div>

              <div>
                <!-- Username Search Input -->
                <label for="usernameSearch" class="form-label">Search by Username</label>
                <input type="text" class="form-control" id="usernameSearch" [(ngModel)]="searchUsername" (input)="filterUsers()" placeholder="Enter username">
              </div>
               </div>
          <button class="border-0 btn--create align-content-center d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#createUserModal">
            <span class="bg-opacity-100"><i class='bx bxs-add-to-queue specialIcon'></i></span>
          </button>
           </div>



        </div>
          <!-- <button class="btn btn-create-user btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createUserModal">
             <span>Create New user</span>
          </button> -->




















          <div *ngIf="errorMessage" class="alert alert-danger text-center error--message" [ngClass]="{'show': errorVisible}">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="alert alert-success text-center success--message"  [ngClass]="{'show': errorVisible}">
            {{ successMessage }}
          </div>
          <div class="table-responsive ">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Profile Image</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Address</th>
                  <th scope="col">Password</th>
                  <th scope="col">Role</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Updated At </th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="" *ngFor="let user of paginatedUsers | paginate: { itemsPerPage: 5, currentPage: currentPage }; let i = index">
                  <th scope="row">{{user.id}}</th>
                  <td class=""><img [src]="user.image ?  user.image :'assets/img/user-avatar.png'" class="rounded-circle " alt="Profile Image"></td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone }}</td>
                  <td>
                    {{ user.address.length > 30 ? (user.address | slice:0:30) + '...' : user.address }}
                  </td>
                  <td>********</td>
                  <td>
                    <span
                      class="badge p-2"
                      [ngClass]="{'admin-background': user.role === 'admin', 'bg-user': user.role !== 'admin'}">
                      {{ user.role }}
                    </span>
                  </td>
                  <td>{{ user.created_at | date: 'medium' }}</td>
                  <td>{{ user.updated_at| date: 'medium' }}</td>
                  <td class="actions">
                      <button  class="btn btn-primary btn-sm me-2"
                      data-bs-toggle="modal"
                      data-bs-target="#editUserModal"
                    (click)="editUser(user.id)">
                        <fa-icon [icon]="icons.faPencil"></fa-icon>
                      </button>
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)"><fa-icon [icon]="icons.faTrash"></fa-icon></button>
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="paginator--container d-flex  justify-content-center"  >
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form
        enctype="multipart/form-data"
        [formGroup]="editUserForm"
        (ngSubmit)="updateUser()"
        id="editUserForm">
         <!-- Error and Success Messages -->
         <div *ngIf="errorMessage" class="alert alert-danger text-center error--message" [ngClass]="{'show': errorVisible}">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="alert alert-success text-center success--message"  [ngClass]="{'show': errorVisible}">
          {{ successMessage }}
        </div>


          <!-- Username Input Group -->
          <div class="mb-3">
            <label for="username" class="form-label">Username <span class="required-indicator">*</span></label>
            <div class="input-group">
              <span class="input-group-text"> <fa-icon [icon]="icons.faUser"></fa-icon> </span>
              <input type="text" placeholder="Username" class="form-control" id="username" formControlName="username" required>
            </div>
            <div *ngIf="editUserForm.get('username')?.invalid && editUserForm.get('username')?.touched" class="text-danger">
              <small *ngIf="editUserForm.get('username')?.hasError('required')">Username is required.</small>
              <small *ngIf="editUserForm.get('username')?.hasError('minlength')">Username must be at least 4 characters.</small>
            </div>
          </div>

          <!-- Email Input Group -->
          <div class="mb-3">
            <label for="email" class="form-label">Email <span class="required-indicator">*</span></label>
            <div class="input-group">
              <span class="input-group-text">&#64;</span>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email Address" required>
            </div>
            <div *ngIf="editUserForm.get('email')?.invalid && editUserForm.get('email')?.touched" class="text-danger">
              <small *ngIf="editUserForm.get('email')?.hasError('required')">Email is required.</small>
              <small *ngIf="editUserForm.get('email')?.hasError('email')">Please enter a valid email address.</small>
            </div>
          </div>

          <!-- Phone Input Group -->
          <div class="mb-3">
            <label for="phone" class="form-label">Phone </label>
            <div class="input-group">
              <span class="input-group-text">📞</span>
              <input type="tel" class="form-control" id="phone"  formControlName="phone" placeholder="(e.g., +1234567890)" required>
            </div>
            <div *ngIf="editUserForm.get('phone')?.invalid && editUserForm.get('phone')?.touched" class="text-danger">
              <small *ngIf="editUserForm.get('phone')?.hasError('pattern')">Please enter a valid phone number.</small>
            </div>
          </div>

          <!-- Password Input Group -->
          <div class="mb-3">
            <label for="password" class="form-label">Update Password (Optional)</label>
            <div class="input-group">
              <span class="input-group-text">🔒</span>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Update Password" >
            </div>
            <div
            *ngIf="
              editUserForm.get('password')?.touched &&
              editUserForm.get('password')?.invalid
            "
            class="form-text text-danger fs-6"
          >
            <div *ngIf="editUserForm.get('password')?.hasError('required')">
              Password is required.
            </div>
            <div
              *ngIf="editUserForm.get('password')?.hasError('pattern')"
            >
              Password must be at least 8 characters long, with at least one
              uppercase letter, one special character, and one number.
            </div>
          </div>
          </div>

          <!-- Address Input Group -->
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <div class="input-group">
              <span class="input-group-text">🏠</span>
              <textarea class="form-control" id="address" rows="2" formControlName="address" placeholder="Enter your address" ></textarea>
            </div>
            <div *ngIf="editUserForm.get('address')?.invalid && editUserForm.get('address')?.touched" class="text-danger">
              <small *ngIf="editUserForm.get('address')?.hasError('minlength')">Address must be at least 5 characters.</small>
              <small *ngIf="editUserForm.get('address')?.hasError('maxlength')">Address can't Exceed  100 characters.</small>
            </div>
          </div>

          <!-- Role Dropdown -->
          <div class="mb-3">
            <label for="role" class="form-label">Role <span class="required-indicator">*</span></label>
            <div class="input-group">
              <span class="input-group-text">👤</span>
              <select class="form-select" id="role"  formControlName="role" required>
                <option value="user">User</option>
                <option value="admin" >Admin</option>
              </select>
            </div>
          </div>


      <div class="form-outline mb-4">
        <label class="form-label" for="imageUpload">User Image </label>
        <input type="file"
         id="imageUpload"
         class="form-control"
         formControlName="image"
         accept="image/*"
        (change)="onFileSelected($event)"
        name="image"
        />
      </div>
          <!-- Submit Button -->
          <button type="submit" class="btn btn--form-update" [disabled]="editUserForm.invalid">Update User</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Create Form -->
<app-user-create-form></app-user-create-form>

