/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --primary-color: #ad343e; /* reddish */
  --background-color: #474747; /* upper-nav background color */
  --secondary-color: #414536; /* small texts */
  --text-color: #2c2f2f; /* for borders and texts */
  --hover-border-color: #dbdfd0; /* hovering of nav-btns and borders of btns */
  --white-color: #f9f9f7; /* white-color */
  --black-color: #2c2f24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
body {
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  /* Optional if needed use in your Css file  */
  /* font-family: "Playfair Display", serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}
ol,
ul {
  padding: 0;
  list-style: none;
}
