<section class="myBookings">
  <h2 class="text-center mb-4" *ngIf="bookings?.length">My Bookings</h2>

  <div *ngIf="!bookings?.length" class="d-flex flex-column align-items-center justify-content-center p-5 border rounded shadow-sm bg-white">
    <div class="mb-4">
      <i class="bi bi-calendar-x-fill display-1 text-danger"></i>
    </div>
    <h2 class="text-dark mb-3">No Bookings Yet!</h2>
    <p class="text-muted text-center mb-4" style="max-width: 400px;">
      It seems you haven’t made any bookings yet. Start exploring and book your next adventure with us. We’re ready when you are!
    </p>
    <a [routerLink]="'/bookings'" class="btn btn-outline-primary btn-lg px-4">Create a Booking</a>
  </div>


  <div class="past-bookings row">

    <div *ngFor="let booking of bookings | paginate: { itemsPerPage: 6, currentPage: currentPage }" class="col-md-4 col-sm-6 mb-4">
      <div class="card booking-card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span class="card-icon"><i class="bi bi-calendar3"></i></span>
          <div class="d-flex align-items-center">
            <span class="booking-status badge" [ngClass]="{
              'bg-success': booking.status === 'accepted',
              'bg-warning text-dark': booking.status === 'pending',
              'bg-danger': booking.status === 'rejected'
            }">{{ booking.status | titlecase }}</span>

            <button *ngIf="booking.status === 'pending'" class="btn btn-secondary btn-sm ms-2 edit-booking-btn" (click)="onEditBooking(booking)">Edit</button>
              <ng-container *ngIf="booking.status === 'accepted' && !paymentStatus[booking.id]">
                <a href="#" (click)="payNow(booking)" class="btn btn-primary btn-sm ms-2 pay-now-button">
                    Pay Now
                </a>
            </ng-container>
          </div>
        </div>

        <div class="card-body text-center">
          <ng-container *ngIf="editingBooking?.id !== booking.id">
            <p class="card-date">Date: <span>{{ booking.date|  date: 'M/d/yy'}}</span></p>
            <p class="card-time">Time: <span>{{ booking.date_time | date: 'h:mm a' : 'UTC' }}</span></p>
            <p class="card-persons">Number of persons: <span>{{ booking.total_person }}</span></p>
          </ng-container>

          <ng-container *ngIf="editingBooking?.id === booking.id">
            <div class="form-group mb-2">
              <label for="editDate-{{booking.id}}">Date:</label>
              <input type="date" class="form-control" [(ngModel)]="editingBooking.date"  (ngModelChange)="validateTime()" name="editDate" id="editDate-{{booking.id}}">
              <div *ngIf="dateError" class="text-danger">{{ dateError }}</div>
            </div>

            <div class="form-group mb-2">
              <label for="editTime-{{booking.id}}">Time:</label>
              <input type="text" class="form-control" [(ngModel)]="editingBooking.time"   (ngModelChange)="validateTime()" name="editTime" id="editTime-{{booking.id}}">
              <div *ngIf="timeError" class="text-danger">{{ timeError }}</div>
            </div>

            <div class="form-group mb-2">
              <label for="editTotalPersons-{{booking.id}}">Number of persons:</label>
              <input type="number" class="form-control" [(ngModel)]="editingBooking.total_person" (ngModelChange)="validateTotalPersons()" name="editTotalPersons" id="editTotalPersons-{{booking.id}}" min="1">
              <div *ngIf="totalPersonsError" class="text-danger">{{ totalPersonsError }}</div>
            </div>

            <div class="d-flex justify-content-center">
              <button class="btn btn-success mt-2" (click)="onSaveBooking()">Save</button>
              <button class="btn btn-secondary mt-2 ms-2" (click)="onCancelEdit()">Cancel</button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>


  <pagination-controls *ngIf="bookings?.length" (pageChange)="currentPage = $event"></pagination-controls>
</section>
